.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    font-family: $primary-font;
    color: #3c3c3c;
    margin: 6% 0;

    &-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        margin: 15px 0;
        position: relative;

        &:after {
            height: 30px;
            position: absolute;
            content: '';
            top: 0;
            left: -25px;
            background-color: #00D600;
            width: 50px;
            z-index: -1;
        }
    }

    &-text {
        width: 90%;
        min-height: 110px;
        margin-bottom: 30px;
        line-height: 1.7rem;
        text-align: justify;
    }

    &-button {
        width: 70%;
        height: 50px;
        border: 4px #00D300 solid;
        background: transparent;
        font-weight: 500;
        outline: none;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -270px;
            width: 100%;
            height: 100%;
            background-color: #00D300;
            transition: 0.5s;
            z-index: -1;
            outline: none;
        }

        &-link {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: transparent;
            border: none;
            transition: .3s;

            &:hover {
                color: #fff;
            }
        }

        &:hover:before {
            left: 0;
        }
    }
}

.services-gallery {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(8, 2.5vw);
    grid-gap: 15px;
    margin: 100px 0 30px 0;
    border-bottom: 1px solid #ccc;

    &-item1 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 8;
        background: url(/img/cows-1549746_1920.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    &-item2 {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 4;
        background: url(/img/cow-3397862_1280.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    &-item3 {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 8;
        background: url(/img/cows-4450943_1920.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

}

@media (max-width: 1000px) {
    .services-gallery {
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-template-rows: repeat(20, 2.5vw);
        grid-gap: 10px;
        margin: 50px 0 15px 0;
        border-bottom: 1px solid #ccc;

        &-item1 {
            grid-column-start: 1;
            grid-column-end: 24;
            grid-row-start: 1;
            grid-row-end: 10;
            background: url(/img/cows-1549746_1920.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        &-item2 {
            grid-column-start: 1;
            grid-column-end: 24;
            grid-row-start: 11;
            grid-row-end: 20;
            background: url(/img/cow-3397862_1280.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        &-item3 {
            display: none;
        }

    }
}
